/* Kisse main CSS file.  Own styles are minimal, use Bootstrap and inline CSS as much as practical */

/* Defaults and Bootstrap overrides */

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

:root {
  --bs-primary: #fc4d0d;
  --bs-link-color: #fc4d0d;
  --bs-link-color-rgb: 252, 77, 13;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #c93d0a;
  --bs-link-hover-color-rgb: 201, 61, 10;
  
  --bs-body-font-family: 'Roboto Flex', sans-serif;
  
  --bs-border-radius: 0.5rem;
}

.navbar {
  --bs-navbar-padding-y: 0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fc4d0d;
  --bs-btn-border-color: #fc4d0d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d6410b;
  --bs-btn-hover-border-color: #c93d0a;
  --bs-btn-focus-shadow-rgb: 252, 102, 48;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c93d0a;
  --bs-btn-active-border-color: #bf3a0a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fc4d0d;
  --bs-btn-disabled-border-color: #fc4d0d;
}

.form-control:focus {
  border-color: #ffa787;
  box-shadow: 0 0 0 0.25rem rgba(252, 77, 13, 0.25);
}

.leaflet-container {
  font-family: var(--bs-body-font-family);
}

.leaflet-container a {
  color: var(--bs-link-color);
}

.leaflet-container a:hover {
  color: var(--bs-link-hover-color);
}

.form-check-input:checked {
  background-color: #fc4d0d;
  border-color: #fc4d0d;
}

/* Logo */

.navbar-brand {
  display: block;
  width: 146px;
  height: 57px;
  background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 0.5) 90%, #fff 100%), url(/kisse-header.jpg);
  background-size: cover;
  margin-right: 0;
}

.navbar-brand span {
  display: block;
  line-height: 46px;
  margin-left: 62px;
  color: var(--bs-light);
  text-shadow: #000 0 0 3px, #000 0 0 3px;
  font-size: 28px;
}

/* Animate menu (replacing Bootstrap JS) */

@media (max-height: 1399px) {
  #menu {
    overflow: hidden;
    height: 0;
    transition: all 0.2s ease-in;
    view-transition-group: root;
  }

  #menu.show {
    height: 160px; /* fixed (4 rows), could be done better? */
  }
}

/* Add space on bottom of all forms */

.form {
  margin-bottom: 160px;
}

/* ASP.NET MVC validation */

.field-validation-error {
  color: var(--bs-danger);
  font-size: 13px;
  font-weight: 500;
}

/* Index page map */

body.index {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.observation-popup-loading, .cat-popup-loading {
  width: 320px;
}

.map-emoji-icon {
  background: none;
  border: none;
  text-shadow: #000 0 0 3px;
  font-size: 15px;
}

.map-thumb-icon {
  box-shadow: #000 0 0 3px;
}

/* Popup forms, photos */

.popup-form-page {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  left: 0;
  right: 0;
  top: 0;
  background: var(--bs-body-bg);
  overflow-y: auto;
}

body:has(.popup-form-page) {
  overflow: hidden;
}

.photo-view-page {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  z-index: 4000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

/* View transitions and animations */

@view-transition {
  navigation: auto;
}

::view-transition-old(root), .htmx-swapping .popup-form-page, .htmx-swapping.photo-view-page {
  animation: 0.2s ease-in both slide-out;
}

::view-transition-new(root), .popup-form-page, .photo-view-page {
  animation: 0.2s ease-in both slide-in;
}

@keyframes slide-in {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

/* Photo thumbnail */

.photo-thumbnail img {
  border-radius: var(--bs-border-radius);
}

/* For phone/tabled view, make photos smaller and limit their number to 3 */
@media (max-width: 1023px) {
  .table .photo-thumbnail img {
    width: 50px;
    height: 50px;
  }
  
  .table .photo-thumbnail:nth-child(n+4) {
    display: none;
  }
}

/* Allow text overflow to fade out in tables when width is not enough */ 

@media (max-width: 1023px) {
  td {
    text-overflow: fade;
  } 
}