@using System.Security.Claims
@model Kisse.Data.Photo

<div class="photo-view-page"
     hx-trigger="click" hx-swap="outerHTML swap:0.2s" hx-get hx-controller="Home" hx-action="Blank" hx-target="this">
    @if (Model.Observation is null || Model.Observation.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <button class="btn btn-danger position-absolute photo-view-delete-button" style="right: 20px; top: 20px;"
                hx-trigger="click consume" hx-target="closest div" hx-swap="outerHTML swap:0.2s"
                hx-delete hx-controller="Photo" hx-action="Delete" hx-route-id="@Model.Id" hx-confirm="Delete photo from database?">
            <i class="bi bi-trash"></i>
        </button>
    }
    <img src="@Model.OriginalFile" class="object-fit-contain w-100 h-100" style="cursor: pointer;"/>
</div>
